# Title

## Descriptions

lorem...

In [2]:
import os
import pandas as pd

In [3]:
def laod_worldbank_data(data_path="", filename="", header=0):
    try:
        csv_path=os.path.join(data_path, filename)
        return pd.read_csv(csv_path, header=header)
#         return data #years as columns=data_year_as_column, countries as column = data_country_as_column
    except Exception as e:
        print("Error while loading data:", e)
        return

#### Data Preprocessing

In [4]:
# Load dataset
filename="dataset.csv"
path="data"
header=2
row_data = laod_worldbank_data(path, filename, header)
row_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.776,50.761000,50.746000,50.730000,50.715000,50.700000,...,42.990000,43.041000,43.108000,43.192000,43.293000,43.411000,43.546000,43.697000,NaN,NaN
1,Aruba,ABW,Urban population,SP.URB.TOTL,27525.000,28139.000000,28537.000000,28763.000000,28922.000000,29080.000000,...,44351.000000,44666.000000,44978.000000,45293.000000,45614.000000,45949.000000,46294.000000,46654.000000,NaN,NaN
2,Aruba,ABW,Urban population growth (annual %),SP.URB.GROW,NaN,2.206183,1.404498,0.788835,0.551271,0.544810,...,0.660561,0.707733,0.696090,0.697901,0.706219,0.731740,0.748028,0.774631,NaN,NaN
3,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.000,55434.000000,56234.000000,56699.000000,57029.000000,57357.000000,...,103165.000000,103776.000000,104339.000000,104865.000000,105361.000000,105846.000000,106310.000000,106766.000000,NaN,NaN
4,Aruba,ABW,Population growth (annual %),SP.POP.GROW,NaN,2.236462,1.432843,0.823502,0.580334,0.573498,...,0.583290,0.590508,0.541048,0.502860,0.471874,0.459266,0.437415,0.428017,NaN,NaN

In [5]:
# choose they year which has lots of data

def get_year_with_more_data(data):
    """ use the year with more than half of the data """

    def get_counts(year):
        year = data[year].describe()
        return year["count"]
    
    limit_number_data = data.shape[0]/2
    unwanted_columns = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', 'Unnamed: 66']
    row_columns = data.columns
    years = [column for column in row_columns if column not in unwanted_columns ]
    # list of number of non null items per year     
    return [year for year in years if get_counts(year) >= limit_number_data]

years = get_year_with_more_data(row_data)
years

['1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014']

In [6]:
# filter our row data
features = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'] + years
data = row_data[features]
data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.319000,50.304000,49.998000,49.588000,49.17700,48.767000,...,44.875000,44.511000,44.147000,43.783000,43.421000,43.059000,42.940000,42.957000,42.990000,43.041000
1,Aruba,ABW,Urban population,SP.URB.TOTL,31274.000000,32508.000000,34119.000000,35949.000000,37721.00000,39172.000000,...,44888.000000,44880.000000,44688.000000,44379.000000,44051.000000,43776.000000,43820.000000,44059.000000,44351.000000,44666.000000
2,Aruba,ABW,Urban population growth (annual %),SP.URB.GROW,1.784062,3.869913,4.836820,5.224685,4.81157,3.774524,...,0.482359,-0.017824,-0.428725,-0.693862,-0.741833,-0.626233,0.100461,0.543931,0.660561,0.707733
3,Aruba,ABW,"Population, total",SP.POP.TOTL,62152.000000,64623.000000,68240.000000,72495.000000,76705.00000,80324.000000,...,100028.000000,100830.000000,101226.000000,101362.000000,101452.000000,101665.000000,102050.000000,102565.000000,103165.000000,103776.000000
4,Aruba,ABW,Population growth (annual %),SP.POP.GROW,1.816830,3.898739,5.446052,6.048669,5.64493,4.610156,...,1.291950,0.798578,0.391971,0.134263,0.088751,0.209731,0.377979,0.503385,0.583290,0.590508

In [7]:
# filter our row data
features = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code']
all_features = features + years
data = row_data[all_features]
data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.319000,50.304000,49.998000,49.588000,49.17700,48.767000,...,44.875000,44.511000,44.147000,43.783000,43.421000,43.059000,42.940000,42.957000,42.990000,43.041000
1,Aruba,ABW,Urban population,SP.URB.TOTL,31274.000000,32508.000000,34119.000000,35949.000000,37721.00000,39172.000000,...,44888.000000,44880.000000,44688.000000,44379.000000,44051.000000,43776.000000,43820.000000,44059.000000,44351.000000,44666.000000
2,Aruba,ABW,Urban population growth (annual %),SP.URB.GROW,1.784062,3.869913,4.836820,5.224685,4.81157,3.774524,...,0.482359,-0.017824,-0.428725,-0.693862,-0.741833,-0.626233,0.100461,0.543931,0.660561,0.707733
3,Aruba,ABW,"Population, total",SP.POP.TOTL,62152.000000,64623.000000,68240.000000,72495.000000,76705.00000,80324.000000,...,100028.000000,100830.000000,101226.000000,101362.000000,101452.000000,101665.000000,102050.000000,102565.000000,103165.000000,103776.000000
4,Aruba,ABW,Population growth (annual %),SP.POP.GROW,1.816830,3.898739,5.446052,6.048669,5.64493,4.610156,...,1.291950,0.798578,0.391971,0.134263,0.088751,0.209731,0.377979,0.503385,0.583290,0.590508

In [8]:
# get data with countries as columns

year_as_column = data

country_as_column = None

data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.319000,50.304000,49.998000,49.588000,49.17700,48.767000,...,44.875000,44.511000,44.147000,43.783000,43.421000,43.059000,42.940000,42.957000,42.990000,43.041000
1,Aruba,ABW,Urban population,SP.URB.TOTL,31274.000000,32508.000000,34119.000000,35949.000000,37721.00000,39172.000000,...,44888.000000,44880.000000,44688.000000,44379.000000,44051.000000,43776.000000,43820.000000,44059.000000,44351.000000,44666.000000
2,Aruba,ABW,Urban population growth (annual %),SP.URB.GROW,1.784062,3.869913,4.836820,5.224685,4.81157,3.774524,...,0.482359,-0.017824,-0.428725,-0.693862,-0.741833,-0.626233,0.100461,0.543931,0.660561,0.707733
3,Aruba,ABW,"Population, total",SP.POP.TOTL,62152.000000,64623.000000,68240.000000,72495.000000,76705.00000,80324.000000,...,100028.000000,100830.000000,101226.000000,101362.000000,101452.000000,101665.000000,102050.000000,102565.000000,103165.000000,103776.000000
4,Aruba,ABW,Population growth (annual %),SP.POP.GROW,1.816830,3.898739,5.446052,6.048669,5.64493,4.610156,...,1.291950,0.798578,0.391971,0.134263,0.088751,0.209731,0.377979,0.503385,0.583290,0.590508

In [12]:
# get data per year

data_frames = {}

for year in years:
    all_features = features[:]
    all_features.append(year)
    data_frames["data_" + year] = data[all_features]

data_frames

{'data_1990':       Country Name Country Code  \
 0            Aruba          ABW
 1            Aruba          ABW
 2            Aruba          ABW
 3            Aruba          ABW
 4            Aruba          ABW
 ...            ...          ...
 20211     Zimbabwe          ZWE
 20212     Zimbabwe          ZWE
 20213     Zimbabwe          ZWE
 20214     Zimbabwe          ZWE
 20215     Zimbabwe          ZWE

                                           Indicator Name     Indicator Code  \
 0               Urban population (% of total population)  SP.URB.TOTL.IN.ZS
 1                                       Urban population        SP.URB.TOTL
 2                     Urban population growth (annual %)        SP.URB.GROW
 3                                      Population, total        SP.POP.TOTL
 4                           Population growth (annual %)        SP.POP.GROW
 ...                                                  ...                ...
 20211  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.ZS
 20212  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.K2
 20213                       Arable land (% of land area)     AG.LND.ARBL.ZS
 20214                 Agricultural land (% of land area)     AG.LND.AGRI.ZS
 20215                         Agricultural land (sq. km)     AG.LND.AGRI.K2

                 1990
 0          50.319000
 1       31274.000000
 2           1.784062
 3       62152.000000
 4           1.816830
 ...              ...
 20211            NaN
 20212            NaN
 20213       7.522295
 20214      33.630606
 20215  130100.000000

 [20216 rows x 5 columns],
 'data_1991':       Country Name Country Code  \
 0            Aruba          ABW
 1            Aruba          ABW
 2            Aruba          ABW
 3            Aruba          ABW
 4            Aruba          ABW
 ...            ...          ...
 20211     Zimbabwe          ZWE
 20212     Zimbabwe          ZWE
 20213     Zimbabwe          ZWE
 20214     Zimbabwe          ZWE
 20215     Zimbabwe          ZWE

                                           Indicator Name     Indicator Code  \
 0               Urban population (% of total population)  SP.URB.TOTL.IN.ZS
 1                                       Urban population        SP.URB.TOTL
 2                     Urban population growth (annual %)        SP.URB.GROW
 3                                      Population, total        SP.POP.TOTL
 4                           Population growth (annual %)        SP.POP.GROW
 ...                                                  ...                ...
 20211  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.ZS
 20212  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.K2
 20213                       Arable land (% of land area)     AG.LND.ARBL.ZS
 20214                 Agricultural land (% of land area)     AG.LND.AGRI.ZS
 20215                         Agricultural land (sq. km)     AG.LND.AGRI.K2

                 1991
 0          50.304000
 1       32508.000000
 2           3.869913
 3       64623.000000
 4           3.898739
 ...              ...
 20211            NaN
 20212            NaN
 20213       7.625695
 20214      34.070053
 20215  131800.000000

 [20216 rows x 5 columns],
 'data_1992':       Country Name Country Code  \
 0            Aruba          ABW
 1            Aruba          ABW
 2            Aruba          ABW
 3            Aruba          ABW
 4            Aruba          ABW
 ...            ...          ...
 20211     Zimbabwe          ZWE
 20212     Zimbabwe          ZWE
 20213     Zimbabwe          ZWE
 20214     Zimbabwe          ZWE
 20215     Zimbabwe          ZWE

                                           Indicator Name     Indicator Code  \
 0               Urban population (% of total population)  SP.URB.TOTL.IN.ZS
 1                                       Urban population        SP.URB.TOTL
 2                     Urban population growth (annual %)        SP.URB.GROW
 3                                      Population, total        SP.POP.TOTL
 4                           Population growth (annual %)        SP.POP.GROW
 ...                                                  ...                ...
 20211  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.ZS
 20212  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.K2
 20213                       Arable land (% of land area)     AG.LND.ARBL.ZS
 20214                 Agricultural land (% of land area)     AG.LND.AGRI.ZS
 20215                         Agricultural land (sq. km)     AG.LND.AGRI.K2

                 1992
 0          49.998000
 1       34119.000000
 2           4.836820
 3       68240.000000
 4           5.446052
 ...              ...
 20211            NaN
 20212            NaN
 20213       7.729094
 20214      34.509500
 20215  133500.000000

 [20216 rows x 5 columns],
 'data_1993':       Country Name Country Code  \
 0            Aruba          ABW
 1            Aruba          ABW
 2            Aruba          ABW
 3            Aruba          ABW
 4            Aruba          ABW
 ...            ...          ...
 20211     Zimbabwe          ZWE
 20212     Zimbabwe          ZWE
 20213     Zimbabwe          ZWE
 20214     Zimbabwe          ZWE
 20215     Zimbabwe          ZWE

                                           Indicator Name     Indicator Code  \
 0               Urban population (% of total population)  SP.URB.TOTL.IN.ZS
 1                                       Urban population        SP.URB.TOTL
 2                     Urban population growth (annual %)        SP.URB.GROW
 3                                      Population, total        SP.POP.TOTL
 4                           Population growth (annual %)        SP.POP.GROW
 ...                                                  ...                ...
 20211  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.ZS
 20212  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.K2
 20213                       Arable land (% of land area)     AG.LND.ARBL.ZS
 20214                 Agricultural land (% of land area)     AG.LND.AGRI.ZS
 20215                         Agricultural land (sq. km)     AG.LND.AGRI.K2

                 1993
 0          49.588000
 1       35949.000000
 2           5.224685
 3       72495.000000
 4           6.048669
 ...              ...
 20211            NaN
 20212            NaN
 20213       7.832493
 20214      34.948947
 20215  135200.000000

 [20216 rows x 5 columns],
 'data_1994':       Country Name Country Code  \
 0            Aruba          ABW
 1            Aruba          ABW
 2            Aruba          ABW
 3            Aruba          ABW
 4            Aruba          ABW
 ...            ...          ...
 20211     Zimbabwe          ZWE
 20212     Zimbabwe          ZWE
 20213     Zimbabwe          ZWE
 20214     Zimbabwe          ZWE
 20215     Zimbabwe          ZWE

                                           Indicator Name     Indicator Code  \
 0               Urban population (% of total population)  SP.URB.TOTL.IN.ZS
 1                                       Urban population        SP.URB.TOTL
 2                     Urban population growth (annual %)        SP.URB.GROW
 3                                      Population, total        SP.POP.TOTL
 4                           Population growth (annual %)        SP.POP.GROW
 ...                                                  ...                ...
 20211  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.ZS
 20212  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.K2
 20213                       Arable land (% of land area)     AG.LND.ARBL.ZS
 20214                 Agricultural land (% of land area)     AG.LND.AGRI.ZS
 20215                         Agricultural land (sq. km)     AG.LND.AGRI.K2

                 1994
 0          49.177000
 1       37721.000000
 2           4.811570
 3       76705.000000
 4           5.644930
 ...              ...
 20211            NaN
 20212            NaN
 20213       8.013442
 20214      35.465943
 20215  137200.000000

 [20216 rows x 5 columns],
 'data_1995':       Country Name Country Code  \
 0            Aruba          ABW
 1            Aruba          ABW
 2            Aruba          ABW
 3            Aruba          ABW
 4            Aruba          ABW
 ...            ...          ...
 20211     Zimbabwe          ZWE
 20212     Zimbabwe          ZWE
 20213     Zimbabwe          ZWE
 20214     Zimbabwe          ZWE
 20215     Zimbabwe          ZWE

                                           Indicator Name     Indicator Code  \
 0               Urban population (% of total population)  SP.URB.TOTL.IN.ZS
 1                                       Urban population        SP.URB.TOTL
 2                     Urban population growth (annual %)        SP.URB.GROW
 3                                      Population, total        SP.POP.TOTL
 4                           Population growth (annual %)        SP.POP.GROW
 ...                                                  ...                ...
 20211  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.ZS
 20212  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.K2
 20213                       Arable land (% of land area)     AG.LND.ARBL.ZS
 20214                 Agricultural land (% of land area)     AG.LND.AGRI.ZS
 20215                         Agricultural land (sq. km)     AG.LND.AGRI.K2

                 1995
 0          48.767000
 1       39172.000000
 2           3.774524
 3       80324.000000
 4           4.610156
 ...              ...
 20211            NaN
 20212            NaN
 20213       8.039292
 20214      35.827840
 20215  138600.000000

 [20216 rows x 5 columns],
 'data_1996':       Country Name Country Code  \
 0            Aruba          ABW
 1            Aruba          ABW
 2            Aruba          ABW
 3            Aruba          ABW
 4            Aruba          ABW
 ...            ...          ...
 20211     Zimbabwe          ZWE
 20212     Zimbabwe          ZWE
 20213     Zimbabwe          ZWE
 20214     Zimbabwe          ZWE
 20215     Zimbabwe          ZWE

                                           Indicator Name     Indicator Code  \
 0               Urban population (% of total population)  SP.URB.TOTL.IN.ZS
 1                                       Urban population        SP.URB.TOTL
 2                     Urban population growth (annual %)        SP.URB.GROW
 3                                      Population, total        SP.POP.TOTL
 4                           Population growth (annual %)        SP.POP.GROW
 ...                                                  ...                ...
 20211  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.ZS
 20212  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.K2
 20213                       Arable land (% of land area)     AG.LND.ARBL.ZS
 20214                 Agricultural land (% of land area)     AG.LND.AGRI.ZS
 20215                         Agricultural land (sq. km)     AG.LND.AGRI.K2

                 1996
 0          48.356000
 1       40238.000000
 2           2.684962
 3       83211.000000
 4           3.531110
 ...              ...
 20211            NaN
 20212            NaN
 20213       8.788936
 20214      36.797208
 20215  142350.000000

 [20216 rows x 5 columns],
 'data_1997':       Country Name Country Code  \
 0            Aruba          ABW
 1            Aruba          ABW
 2            Aruba          ABW
 3            Aruba          ABW
 4            Aruba          ABW
 ...            ...          ...
 20211     Zimbabwe          ZWE
 20212     Zimbabwe          ZWE
 20213     Zimbabwe          ZWE
 20214     Zimbabwe          ZWE
 20215     Zimbabwe          ZWE

                                           Indicator Name     Indicator Code  \
 0               Urban population (% of total population)  SP.URB.TOTL.IN.ZS
 1                                       Urban population        SP.URB.TOTL
 2                     Urban population growth (annual %)        SP.URB.GROW
 3                                      Population, total        SP.POP.TOTL
 4                           Population growth (annual %)        SP.POP.GROW
 ...                                                  ...                ...
 20211  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.ZS
 20212  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.K2
 20213                       Arable land (% of land area)     AG.LND.ARBL.ZS
 20214                 Agricultural land (% of land area)     AG.LND.AGRI.ZS
 20215                         Agricultural land (sq. km)     AG.LND.AGRI.K2

                 1997
 0          47.946000
 1       40970.000000
 2           1.802827
 3       85450.000000
 4           2.655186
 ...              ...
 20211            NaN
 20212            NaN
 20213       9.047434
 20214      37.272845
 20215  144190.000000

 [20216 rows x 5 columns],
 'data_1998':       Country Name Country Code  \
 0            Aruba          ABW
 1            Aruba          ABW
 2            Aruba          ABW
 3            Aruba          ABW
 4            Aruba          ABW
 ...            ...          ...
 20211     Zimbabwe          ZWE
 20212     Zimbabwe          ZWE
 20213     Zimbabwe          ZWE
 20214     Zimbabwe          ZWE
 20215     Zimbabwe          ZWE

                                           Indicator Name     Indicator Code  \
 0               Urban population (% of total population)  SP.URB.TOTL.IN.ZS
 1                                       Urban population        SP.URB.TOTL
 2                     Urban population growth (annual %)        SP.URB.GROW
 3                                      Population, total        SP.POP.TOTL
 4                           Population growth (annual %)        SP.POP.GROW
 ...                                                  ...                ...
 20211  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.ZS
 20212  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.K2
 20213                       Arable land (% of land area)     AG.LND.ARBL.ZS
 20214                 Agricultural land (% of land area)     AG.LND.AGRI.ZS
 20215                         Agricultural land (sq. km)     AG.LND.AGRI.K2

                 1998
 0          47.536000
 1       41489.000000
 2           1.258824
 3       87280.000000
 4           2.118993
 ...              ...
 20211            NaN
 20212            NaN
 20213       8.788936
 20214      37.533928
 20215  145200.000000

 [20216 rows x 5 columns],
 'data_1999':       Country Name Country Code  \
 0            Aruba          ABW
 1            Aruba          ABW
 2            Aruba          ABW
 3            Aruba          ABW
 4            Aruba          ABW
 ...            ...          ...
 20211     Zimbabwe          ZWE
 20212     Zimbabwe          ZWE
 20213     Zimbabwe          ZWE
 20214     Zimbabwe          ZWE
 20215     Zimbabwe          ZWE

                                           Indicator Name     Indicator Code  \
 0               Urban population (% of total population)  SP.URB.TOTL.IN.ZS
 1                                       Urban population        SP.URB.TOTL
 2                     Urban population growth (annual %)        SP.URB.GROW
 3                                      Population, total        SP.POP.TOTL
 4                           Population growth (annual %)        SP.POP.GROW
 ...                                                  ...                ...
 20211  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.ZS
 20212  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.K2
 20213                       Arable land (% of land area)     AG.LND.ARBL.ZS
 20214                 Agricultural land (% of land area)     AG.LND.AGRI.ZS
 20215                         Agricultural land (sq. km)     AG.LND.AGRI.K2

                 1999
 0          47.127000
 1       41947.000000
 2           1.097858
 3       89009.000000
 4           1.961615
 ...              ...
 20211            NaN
 20212            NaN
 20213       9.176683
 20214      38.361122
 20215  148400.000000

 [20216 rows x 5 columns],
 'data_2000':       Country Name Country Code  \
 0            Aruba          ABW
 1            Aruba          ABW
 2            Aruba          ABW
 3            Aruba          ABW
 4            Aruba          ABW
 ...            ...          ...
 20211     Zimbabwe          ZWE
 20212     Zimbabwe          ZWE
 20213     Zimbabwe          ZWE
 20214     Zimbabwe          ZWE
 20215     Zimbabwe          ZWE

                                           Indicator Name     Indicator Code  \
 0               Urban population (% of total population)  SP.URB.TOTL.IN.ZS
 1                                       Urban population        SP.URB.TOTL
 2                     Urban population growth (annual %)        SP.URB.GROW
 3                                      Population, total        SP.POP.TOTL
 4                           Population growth (annual %)        SP.POP.GROW
 ...                                                  ...                ...
 20211  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.ZS
 20212  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.K2
 20213                       Arable land (% of land area)     AG.LND.ARBL.ZS
 20214                 Agricultural land (% of land area)     AG.LND.AGRI.ZS
 20215                         Agricultural land (sq. km)     AG.LND.AGRI.K2

                 2000
 0          46.717000
 1       42450.000000
 2           1.192000
 3       90866.000000
 4           2.064841
 ...              ...
 20211            NaN
 20212            NaN
 20213       9.305933
 20214      38.929818
 20215  150600.000000

 [20216 rows x 5 columns],
 'data_2001':       Country Name Country Code  \
 0            Aruba          ABW
 1            Aruba          ABW
 2            Aruba          ABW
 3            Aruba          ABW
 4            Aruba          ABW
 ...            ...          ...
 20211     Zimbabwe          ZWE
 20212     Zimbabwe          ZWE
 20213     Zimbabwe          ZWE
 20214     Zimbabwe          ZWE
 20215     Zimbabwe          ZWE

                                           Indicator Name     Indicator Code  \
 0               Urban population (% of total population)  SP.URB.TOTL.IN.ZS
 1                                       Urban population        SP.URB.TOTL
 2                     Urban population growth (annual %)        SP.URB.GROW
 3                                      Population, total        SP.POP.TOTL
 4                           Population growth (annual %)        SP.POP.GROW
 ...                                                  ...                ...
 20211  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.ZS
 20212  Rural land area where elevation is below 5 met...  AG.LND.EL5M.RU.K2
 20213                       Arable land (% of land area)     AG.LND.ARBL.ZS
 20214                 Agricultural land (% of land area)     AG.LND.AGRI.ZS
 20215                         Agricultural land (sq. km)     AG.LND.AGRI.K2

                 2001
 0          46.339000
 1       43045.000000
 2           1.391917
 3       92892.000000
 4           2.205163
 ...              ...
 20211            NaN
 20212            NaN
 20213       9.305933
 20214      39.395114
 20215  152400.000000

 [20216 rows x 5 columns],
 'data_2002':       Country Name Country Code  \
 0            Aruba          ABW
 1            Aruba          ABW
 2            Aruba          ABW
 3            Aruba          ABW
 4            Aruba          ABW
 ...            ...          ...
 20211     Zimbabwe          ZWE
 20212     Zimbabwe          ZWE
 20213     Zimbabwe          ZWE
 20214     Zimbabwe          ZWE

#### Cluster data with Kmeans Algorithm

In [97]:
# All historical data
from sklearn.cluster import KMeans
def cluster_data_with_kmeans(data, nbr_clusters):
    # normalize data
    # select future
    # get a certain number of data
    # cluster
    pass