# Title

## Descriptions

lorem...

In [19]:
import os
import pandas as pd

In [46]:
def laod_worldbank_data(data_path="", filename="", header=0):
    try:
        csv_path=os.path.join(data_path, filename)
        return pd.read_csv(csv_path, header=header, index_col=False)
#         return data #years as columns=data_year_as_column, countries as column = data_country_as_column
    except Exception as e:
        print("Error while loading data:", e)
        return

#### Data Preprocessing

In [48]:
# Load dataset
filename="dataset.csv"
path="data"
header=2
row_data = laod_worldbank_data(path, filename, header)
row_data.reset_index(drop=True, inplace=True)
row_data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.776,50.761000,50.746000,50.730000,50.715000,50.700000,...,42.990000,43.041000,43.108000,43.192000,43.293000,43.411000,43.546000,43.697000,NaN,NaN
1,Aruba,ABW,Urban population,SP.URB.TOTL,27525.000,28139.000000,28537.000000,28763.000000,28922.000000,29080.000000,...,44351.000000,44666.000000,44978.000000,45293.000000,45614.000000,45949.000000,46294.000000,46654.000000,NaN,NaN
2,Aruba,ABW,Urban population growth (annual %),SP.URB.GROW,NaN,2.206183,1.404498,0.788835,0.551271,0.544810,...,0.660561,0.707733,0.696090,0.697901,0.706219,0.731740,0.748028,0.774631,NaN,NaN
3,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.000,55434.000000,56234.000000,56699.000000,57029.000000,57357.000000,...,103165.000000,103776.000000,104339.000000,104865.000000,105361.000000,105846.000000,106310.000000,106766.000000,NaN,NaN
4,Aruba,ABW,Population growth (annual %),SP.POP.GROW,NaN,2.236462,1.432843,0.823502,0.580334,0.573498,...,0.583290,0.590508,0.541048,0.502860,0.471874,0.459266,0.437415,0.428017,NaN,NaN

In [49]:
# choose they year which has lots of data

def get_year_with_more_data(data):
    """ use the year with more than half of the data """

    def get_counts(year):
        year = data[year].describe()
        return year["count"]
    
    limit_number_data = data.shape[0]/2
    unwanted_columns = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', 'Unnamed: 66']
    row_columns = data.columns
    years = [column for column in row_columns if column not in unwanted_columns ]
    # list of number of non null items per year     
    return [year for year in years if get_counts(year) >= limit_number_data]

years = get_year_with_more_data(row_data)
years

['1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014']

In [50]:
# filter our row data
features = ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'] + years
data = row_data[features]
data.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1990,1991,1992,1993,1994,1995,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Aruba,ABW,Urban population (% of total population),SP.URB.TOTL.IN.ZS,50.319000,50.304000,49.998000,49.588000,49.17700,48.767000,...,44.875000,44.511000,44.147000,43.783000,43.421000,43.059000,42.940000,42.957000,42.990000,43.041000
1,Aruba,ABW,Urban population,SP.URB.TOTL,31274.000000,32508.000000,34119.000000,35949.000000,37721.00000,39172.000000,...,44888.000000,44880.000000,44688.000000,44379.000000,44051.000000,43776.000000,43820.000000,44059.000000,44351.000000,44666.000000
2,Aruba,ABW,Urban population growth (annual %),SP.URB.GROW,1.784062,3.869913,4.836820,5.224685,4.81157,3.774524,...,0.482359,-0.017824,-0.428725,-0.693862,-0.741833,-0.626233,0.100461,0.543931,0.660561,0.707733
3,Aruba,ABW,"Population, total",SP.POP.TOTL,62152.000000,64623.000000,68240.000000,72495.000000,76705.00000,80324.000000,...,100028.000000,100830.000000,101226.000000,101362.000000,101452.000000,101665.000000,102050.000000,102565.000000,103165.000000,103776.000000
4,Aruba,ABW,Population growth (annual %),SP.POP.GROW,1.816830,3.898739,5.446052,6.048669,5.64493,4.610156,...,1.291950,0.798578,0.391971,0.134263,0.088751,0.209731,0.377979,0.503385,0.583290,0.590508

In [51]:
# filter our row data
features = ['Country Name', 'Indicator Name']
all_features = features + years
data = row_data[all_features]
data.head()

,Country Name,Indicator Name,1990,1991,1992,1993,1994,1995,1996,1997,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Aruba,Urban population (% of total population),50.319000,50.304000,49.998000,49.588000,49.17700,48.767000,48.356000,47.946000,...,44.875000,44.511000,44.147000,43.783000,43.421000,43.059000,42.940000,42.957000,42.990000,43.041000
1,Aruba,Urban population,31274.000000,32508.000000,34119.000000,35949.000000,37721.00000,39172.000000,40238.000000,40970.000000,...,44888.000000,44880.000000,44688.000000,44379.000000,44051.000000,43776.000000,43820.000000,44059.000000,44351.000000,44666.000000
2,Aruba,Urban population growth (annual %),1.784062,3.869913,4.836820,5.224685,4.81157,3.774524,2.684962,1.802827,...,0.482359,-0.017824,-0.428725,-0.693862,-0.741833,-0.626233,0.100461,0.543931,0.660561,0.707733
3,Aruba,"Population, total",62152.000000,64623.000000,68240.000000,72495.000000,76705.00000,80324.000000,83211.000000,85450.000000,...,100028.000000,100830.000000,101226.000000,101362.000000,101452.000000,101665.000000,102050.000000,102565.000000,103165.000000,103776.000000
4,Aruba,Population growth (annual %),1.816830,3.898739,5.446052,6.048669,5.64493,4.610156,3.531110,2.655186,...,1.291950,0.798578,0.391971,0.134263,0.088751,0.209731,0.377979,0.503385,0.583290,0.590508

In [58]:
# get data with countries as columns

year_as_column = data

country_as_column = data.transpose()
#drop first row
# country_as_column = country_as_column.iloc[0: , :]
country_as_column.head()

,0,1,2,3,4,5,6,7,8,9,...,20206,20207,20208,20209,20210,20211,20212,20213,20214,20215
Country Name,Aruba,Aruba,Aruba,Aruba,Aruba,Aruba,Aruba,Aruba,Aruba,Aruba,...,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe
Indicator Name,Urban population (% of total population),Urban population,Urban population growth (annual %),"Population, total",Population growth (annual %),Poverty headcount ratio at $1.90 a day (2011 P...,"Prevalence of underweight, weight for age (% o...","Community health workers (per 1,000 people)","Mortality rate, under-5 (per 1,000 live births)","Primary completion rate, total (% of relevant ...",...,Forest area (% of land area),Forest area (sq. km),Land area where elevation is below 5 meters (%...,Urban land area where elevation is below 5 met...,Urban land area where elevation is below 5 met...,Rural land area where elevation is below 5 met...,Rural land area where elevation is below 5 met...,Arable land (% of land area),Agricultural land (% of land area),Agricultural land (sq. km)
1990,50.319,31274.0,1.784062,62152.0,1.81683,NaN,NaN,NaN,NaN,NaN,...,48.666615,188266.8,NaN,NaN,NaN,NaN,NaN,7.522295,33.630606,130100.0
1991,50.304,32508.0,3.869913,64623.0,3.898739,NaN,NaN,NaN,NaN,NaN,...,48.547525,187806.1,NaN,NaN,NaN,NaN,NaN,7.625695,34.070053,131800.0
1992,49.998,34119.0,4.83682,68240.0,5.446052,NaN,NaN,NaN,NaN,NaN,...,48.428435,187345.4,NaN,NaN,NaN,NaN,NaN,7.729094,34.5095,133500.0

In [67]:
# get data per year

data_frames = {}

def generate_dataframe(data, year):
    """ takes data and return indicators as columns """
    #     data = pd.pivot_table(data, indexes=)
    return pd.pivot_table(data, index="Country Name", values=year, columns="Indicator Name")
    

    
for year in years:
    all_features = features[:]
    all_features.append(year)
    data_frames["data_" + year] = generate_dataframe(data, year)

test_data = data_frames["data_2014"]
test_data.head()

Indicator Name,Access to electricity (% of population),Agricultural irrigated land (% of total agricultural land),Agricultural land (% of land area),Agricultural land (sq. km),"Agriculture, forestry, and fishing, value added (% of GDP)","Annual freshwater withdrawals, total (billion cubic meters)",Arable land (% of land area),Average precipitation in depth (mm per year),CO2 emissions (kg per 2015 US$ of GDP),CO2 emissions (kg per 2017 PPP $ of GDP),...,Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population),"Prevalence of underweight, weight for age (% of children under 5)","Primary completion rate, total (% of relevant age group)",Renewable electricity output (% of total electricity output),Renewable energy consumption (% of total final energy consumption),"School enrollment, primary and secondary (gross), gender parity index (GPI)",Total greenhouse gas emissions (kt of CO2 equivalent),Urban population,Urban population (% of total population),Urban population growth (annual %)
Country Name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,89.500000,5.742548,58.067580,379100.0,22.137041,NaN,11.903011,NaN,0.398016,0.111320,...,NaN,NaN,NaN,85.323549,20.770300,0.65402,84620.0,8204880.0,24.587000,4.229792
Africa Eastern and Southern,32.001027,NaN,43.877935,6497055.3,11.915450,NaN,8.246972,NaN,0.692478,0.277136,...,NaN,NaN,NaN,24.966589,60.803934,NaN,1436410.0,196270604.0,33.952424,4.114608
Africa Western and Central,47.599323,NaN,39.765147,3597067.7,19.652742,NaN,11.113469,NaN,0.269391,0.120425,...,NaN,NaN,NaN,34.566146,76.276143,NaN,790820.0,172602709.0,44.157131,4.224097
Albania,99.949997,12.756644,42.857299,11742.9,19.990181,NaN,22.467153,NaN,0.468595,0.155935,...,1.6,NaN,100.984718,100.000000,38.697399,0.97668,9930.0,1630119.0,56.423000,1.646116
Algeria,99.087013,2.742533,17.395266,414310.0,10.286397,NaN,3.136111,NaN,0.867253,0.309763,...,NaN,NaN,108.391579,0.395380,0.068700,NaN,204130.0,27332603.0,70.221000,2.956362

In [66]:
# visualize test data
test_data.shape

(265, 57)

#### Cluster data with Kmeans Algorithm

In [97]:
# All historical data
from sklearn.cluster import KMeans
def cluster_data_with_kmeans(data, features, nbr_clusters):
    # remove NaN datas
    # select feature
    # normalize data
    # get a certain number of data
    # cluster
    pass

## Subject: CO2 emissions (kg per 2015 USD per GDP)

### Target year : 2014

In [121]:
df = data_frames["data_2014"]
# df = df["Indicator Name", "CO2 emissions (kg per 2015 US$ of GDP)"]
# print(df.columns)
# df = df["CO2 emissions (kg per 2015 US$ of GDP)"]
# df.rename(index={1: "CO2 emissions (kg per 2015 US$ of GDP)"})
# df.head(200)
# df.columns

dict = {'Country Name': 'Country Name'}
 
# call rename () method
df.rename(columns=dict,
          inplace=True)

# test = df.iloc[:, 0:2]
# df['Col'].str.split(pat, n=-1, expand=False)
# df.head()
# test[0:0, :]
df[0:0]

Empty DataFrame
Columns: [Access to electricity (% of population), Agricultural irrigated land (% of total agricultural land), Agricultural land (% of land area), Agricultural land (sq. km), Agriculture, forestry, and fishing, value added (% of GDP), Annual freshwater withdrawals, total (billion cubic meters), Arable land (% of land area), Average precipitation in depth (mm per year), CO2 emissions (kg per 2015 US$ of GDP), CO2 emissions (kg per 2017 PPP $ of GDP), CO2 emissions (kg per PPP $ of GDP), CO2 emissions (kt), CO2 emissions (metric tons per capita), CO2 emissions from gaseous fuel consumption (% of total), CO2 emissions from gaseous fuel consumption (kt), CO2 emissions from liquid fuel consumption (% of total), CO2 emissions from liquid fuel consumption (kt), CO2 emissions from solid fuel consumption (% of total), CO2 emissions from solid fuel consumption (kt), CO2 intensity (kg per kg of oil equivalent energy use), CPIA public sector management and institutions cluster average (1=low to 6=high), Cereal yield (kg per hectare), Community health workers (per 1,000 people), Electric power consumption (kWh per capita), Electricity production from coal sources (% of total), Electricity production from hydroelectric sources (% of total), Electricity production from natural gas sources (% of total), Electricity production from nuclear sources (% of total), Electricity production from oil sources (% of total), Electricity production from renewable sources, excluding hydroelectric (% of total), Electricity production from renewable sources, excluding hydroelectric (kWh), Energy use (kg of oil equivalent per capita), Energy use (kg of oil equivalent) per $1,000 GDP (constant 2017 PPP), Foreign direct investment, net inflows (% of GDP), Forest area (% of land area), Forest area (sq. km), Methane emissions (kt of CO2 equivalent), Mortality rate, under-5 (per 1,000 live births), Nitrous oxide emissions (thousand metric tons of CO2 equivalent), Other greenhouse gas emissions, HFC, PFC and SF6 (thousand metric tons of CO2 equivalent), Population growth (annual %), Population in urban agglomerations of more than 1 million (% of total population), Population, total, Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population), Prevalence of underweight, weight for age (% of children under 5), Primary completion rate, total (% of relevant age group), Renewable electricity output (% of total electricity output), Renewable energy consumption (% of total final energy consumption), School enrollment, primary and secondary (gross), gender parity index (GPI), Total greenhouse gas emissions (kt of CO2 equivalent), Urban population, Urban population (% of total population), Urban population growth (annual %)]
Index: []

[0 rows x 53 columns]

In [87]:
# Data cleaning

df[df['CO2 emissions (kg per 2015 US$ of GDP)'] == 0].shape

KeyError: 'CO2 emissions (kg per 2015 US$ of GDP)'

In [72]:
df.head()

Indicator Name,Access to electricity (% of population),Agricultural irrigated land (% of total agricultural land),Agricultural land (% of land area),Agricultural land (sq. km),"Agriculture, forestry, and fishing, value added (% of GDP)","Annual freshwater withdrawals, total (billion cubic meters)",Arable land (% of land area),Average precipitation in depth (mm per year),CO2 emissions (kg per 2015 US$ of GDP),CO2 emissions (kg per 2017 PPP $ of GDP),...,Poverty headcount ratio at $1.90 a day (2011 PPP) (% of population),"Prevalence of underweight, weight for age (% of children under 5)","Primary completion rate, total (% of relevant age group)",Renewable electricity output (% of total electricity output),Renewable energy consumption (% of total final energy consumption),"School enrollment, primary and secondary (gross), gender parity index (GPI)",Total greenhouse gas emissions (kt of CO2 equivalent),Urban population,Urban population (% of total population),Urban population growth (annual %)
Country Name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,89.500000,5.742548,58.067580,379100.0,22.137041,NaN,11.903011,NaN,0.398016,0.111320,...,NaN,NaN,NaN,85.323549,20.770300,0.65402,84620.0,8204880.0,24.587000,4.229792
Africa Eastern and Southern,32.001027,NaN,43.877935,6497055.3,11.915450,NaN,8.246972,NaN,0.692478,0.277136,...,NaN,NaN,NaN,24.966589,60.803934,NaN,1436410.0,196270604.0,33.952424,4.114608
Africa Western and Central,47.599323,NaN,39.765147,3597067.7,19.652742,NaN,11.113469,NaN,0.269391,0.120425,...,NaN,NaN,NaN,34.566146,76.276143,NaN,790820.0,172602709.0,44.157131,4.224097
Albania,99.949997,12.756644,42.857299,11742.9,19.990181,NaN,22.467153,NaN,0.468595,0.155935,...,1.6,NaN,100.984718,100.000000,38.697399,0.97668,9930.0,1630119.0,56.423000,1.646116
Algeria,99.087013,2.742533,17.395266,414310.0,10.286397,NaN,3.136111,NaN,0.867253,0.309763,...,NaN,NaN,108.391579,0.395380,0.068700,NaN,204130.0,27332603.0,70.221000,2.956362